root = true

[*.cs]
# Enforce expression-body (arrow) style
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_local_functions = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_expression_bodied_accessors = true:suggestion
csharp_style_expression_bodied_lambdas = true:suggestion
csharp_style_expression_bodied_constructors = when_on_single_line:suggestion
